*.dsp 
*.dsw
*ncb
*.opt
*.plg
*.sln
*.vcproj
*.html
*.bsc
*.exe
*.manifest
*.ilk
*obj
*.pch
*.pdb
*.sbr
*.idb
*.pdb
*.htm
*.res
*.dep
*.suo
*.sdf
*.sln
*.vcproj
*.vcxproj
*.filters
*.ncb
*.user
*.dsp
